USE [InfraCoreDB]
GO
/****** Objeto: Table [dbo].[Accionista] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accionista](
	[AccionistaID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [nvarchar](30) NOT NULL,
	[EmpresaAccionistaID] [nvarchar](30) NULL,
	[PorcentajePart] [nchar](10) NULL,
	[VrAccion] [nchar](10) NULL,
	[NoAcciones] [nchar](10) NULL,
 CONSTRAINT [PK_Accionista_1] PRIMARY KEY CLUSTERED 
(
	[AccionistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AnalisisFinanciero] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalisisFinanciero](
	[AnalisisFinanID] [int] IDENTITY(1,1) NOT NULL,
	[LicitacionID] [int] NOT NULL,
	[EmpresaID] [nvarchar](30) NOT NULL,
	[IndicadorID] [int] NOT NULL,
	[IndiceLiquidez] [decimal](10, 2) NULL,
	[IndiceEndeudamiento] [decimal](10, 2) NULL,
	[RazonCobertura] [decimal](10, 2) NULL,
	[CapitalTrabajo] [decimal](18, 2) NULL,
	[Patrimonio] [decimal](18, 2) NULL,
	[RentaPatrimonio] [decimal](10, 2) NULL,
	[RentaActivo] [decimal](10, 2) NULL,
 CONSTRAINT [PK_AnalisisFinanciero] PRIMARY KEY CLUSTERED 
(
	[AnalisisFinanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AnalisisPuntuable] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalisisPuntuable](
	[AnalisisPID] [int] NOT NULL,
	[LicitacionID] [int] NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Discapacitado] [nvarchar](50) NULL,
	[Emprendimiento] [nvarchar](50) NULL,
	[MiPyme] [nvarchar](50) NULL,
	[Observaciones] [nvarchar](500) NULL,
 CONSTRAINT [PK_AnalisisPuntuable] PRIMARY KEY CLUSTERED 
(
	[AnalisisPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[AnalisisTecnico] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalisisTecnico](
	[AnalisisID] [int] NOT NULL,
	[LicitacionID] [int] NOT NULL,
	[EmpresaID] [nvarchar](30) NOT NULL,
	[ContratoID] [int] NOT NULL,
	[Observacion] [nvarchar](500) NULL,
 CONSTRAINT [PK_AnalisisTecnico] PRIMARY KEY CLUSTERED 
(
	[AnalisisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CapacidadTecnica5B] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapacidadTecnica5B](
	[CapacidadTecnicaID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [nvarchar](30) NOT NULL,
	[NombreProfesional] [nvarchar](150) NOT NULL,
	[Profesion] [nvarchar](100) NOT NULL,
	[MatriculaProfesional] [nvarchar](50) NOT NULL,
	[NoContrato] [nvarchar](50) NOT NULL,
	[FechaTerminacion] [date] NOT NULL,
 CONSTRAINT [PK_CapacidadTecnica5B] PRIMARY KEY CLUSTERED 
(
	[CapacidadTecnicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ContratoAporte] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContratoAporte](
	[AporteID] [int] IDENTITY(1,1) NOT NULL,
	[ContratoID] [int] NOT NULL,
	[EmpresaID] [nvarchar](30) NULL,
	[AccionistaID] [int] NULL,
 CONSTRAINT [PK_ContratoAporte] PRIMARY KEY CLUSTERED 
(
	[AporteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Contratos] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[ContratoID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [nvarchar](30) NULL,
	[NoRup] [int] NULL,
	[ObjetoContrato] [nvarchar](max) NULL,
	[EntidadContratante] [nvarchar](100) NULL,
	[NoContrato] [nvarchar](30) NULL,
	[NombreContratista] [nvarchar](100) NULL,
	[NitConsorcioUT] [nvarchar](30) NULL,
	[PorcentajePart] [decimal](5, 2) NULL,
	[TipoObraID] [int] NULL,
	[FechaInicio] [date] NULL,
	[FechaFinal] [date] NULL,
	[Plazo] [decimal](5, 2) NULL,
	[ValorContrato] [decimal](18, 2) NULL,
	[VrSmmlv] [decimal](18, 2) NULL,
	[VrSmmlvPart] [decimal](18, 2) NULL,
	[VrTotalContrato] [decimal](18, 2) NULL,
	[EstadoContratoID] [int] NULL,
	[DatosTecnicos] [nvarchar](max) NULL,
	[FechaRut] [date] NULL,
	[Responsable] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Correo] [nvarchar](80) NULL,
	[Plataforma] [nvarchar](100) NULL,
	[LinkContrato] [nvarchar](max) NULL,
	[DetallesAdicionales] [nvarchar](max) NULL,
	[DocumentoPDF] [varbinary](max) NULL,
	[SalarioID] [int] NULL,
 CONSTRAINT [PK_Contratos] PRIMARY KEY CLUSTERED 
(
	[ContratoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empresas] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[EmpresaID] [nvarchar](30) NOT NULL,
	[RazonSocial] [nvarchar](max) NULL,
	[Sigla] [nvarchar](50) NULL,
	[Departamento] [nvarchar](50) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[MatriculaNo] [nvarchar](20) NULL,
	[FechaMatricula] [date] NULL,
	[DireccionDomiclio] [nvarchar](50) NULL,
	[Correo] [nvarchar](50) NULL,
	[Telefono] [nvarchar](20) NULL,
	[TamanoEmpresa] [nvarchar](50) NULL,
	[NombreRepLegal] [nvarchar](50) NULL,
	[IdentificacionRL] [nvarchar](20) NULL,
	[NombreSuplente] [nvarchar](50) NULL,
	[IdentificacionS] [nvarchar](20) NULL,
	[RevisorFiscal] [nvarchar](50) NULL,
	[IdentificacionRF] [nvarchar](20) NULL,
	[Discapacitado] [bit] NULL,
	[EmpredimientoMujer] [bit] NULL,
	[Mipyme] [bit] NULL,
	[Logo] [image] NULL,
	[TipoEmpresaID] [int] NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoContrato] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoContrato](
	[EstadoContratoID] [int] NOT NULL,
	[Codigo] [nvarchar](20) NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_EstadoContrato] PRIMARY KEY CLUSTERED 
(
	[EstadoContratoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[InfoFinanciera] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoFinanciera](
	[IndicadorID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [nvarchar](30) NOT NULL,
	[AnioFiscal] [int] NOT NULL,
	[ActivoCorriente] [decimal](18, 2) NULL,
	[ActivoTotal] [decimal](18, 2) NULL,
	[PasivoCorriente] [decimal](18, 2) NULL,
	[PasivoTotal] [decimal](18, 2) NULL,
	[Patrimonio] [decimal](18, 2) NULL,
	[IngresosOperacionales] [decimal](18, 2) NULL,
	[UtilidadPerdida] [decimal](18, 2) NULL,
	[GastosInteres] [decimal](18, 2) NULL,
	[CapitalTrabajo] [decimal](18, 2) NULL,
	[IndiceLiquidez] [decimal](10, 2) NULL,
	[IndiceEndeudamiento] [decimal](10, 2) NULL,
	[RazonCobertura] [decimal](10, 2) NULL,
	[RentaPatrimonio] [decimal](10, 2) NULL,
	[RentaActivo] [decimal](10, 2) NULL,
 CONSTRAINT [PK_InfoFinanciera] PRIMARY KEY CLUSTERED 
(
	[IndicadorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Licitacion] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licitacion](
	[LicitacionID] [int] IDENTITY(1,1) NOT NULL,
	[TipoPliegoID] [int] NOT NULL,
	[NoProceso] [nvarchar](20) NULL,
	[Objeto] [nvarchar](500) NULL,
	[ValorProceso] [numeric](18, 2) NULL,
	[PlazoMeses] [int] NULL,
	[EstadoContratoID] [int] NULL,
	[FechaApertura] [date] NULL,
	[FechaCierre] [date] NULL,
	[SMMLV] [decimal](18, 2) NULL,
	[KResidual] [decimal](18, 2) NULL,
	[Anticipo] [decimal](18, 2) NULL,
	[Patrimonio] [decimal](18, 2) NULL,
	[CapitalTrabajo] [decimal](18, 2) NULL,
	[ValorSMMLV] [decimal](18, 2) NULL,
	[RelacionCV] [decimal](18, 2) NULL,
	[RelacionCSMMLV] [decimal](18, 2) NULL,
	[DiscapacitadoVR] [decimal](18, 2) NULL,
	[DiscapacitadoSMMLV] [decimal](18, 2) NULL,
	[FiftyExpValor] [decimal](18, 2) NULL,
	[FiftyExpSMMLV] [decimal](18, 2) NULL,
	[FechaAnalisis] [date] NULL,
	[Observaciones] [nvarchar](500) NULL,
 CONSTRAINT [PK_Licitacion] PRIMARY KEY CLUSTERED 
(
	[LicitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[PermisoID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](60) NOT NULL,
	[NombrePermiso] [nvarchar](120) NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPermiso] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPermiso](
	[RolPermisoID] [int] IDENTITY(1,1) NOT NULL,
	[RolID] [int] NOT NULL,
	[PermisoID] [int] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
 CONSTRAINT [PK_RolPermiso] PRIMARY KEY CLUSTERED 
(
	[RolPermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SaldoContratosEjec5C] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaldoContratosEjec5C](
	[SCEID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [nvarchar](30) NOT NULL,
	[ContratoID] [int] NOT NULL,
	[FechaCalculo] [date] NULL,
	[SaldoPendienteEjec] [decimal](18, 2) NULL,
	[FechaInicioReinicio] [date] NULL,
	[FechaCierreProceso] [date] NULL,
	[DiasEjecutados] [decimal](10, 2) NULL,
	[DiasXEjecutar] [decimal](10, 2) NULL,
	[SaldoDiarioContrato] [decimal](18, 2) NULL,
	[SaldoContratoEjec] [decimal](18, 2) NULL,
	[EstadoSCE] [nvarchar](50) NULL,
 CONSTRAINT [PK_SaldoContratosEjecucion] PRIMARY KEY CLUSTERED 
(
	[SCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TablaSalarios] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaSalarios](
	[SalarioID] [int] IDENTITY(1,1) NOT NULL,
	[Anio] [int] NOT NULL,
	[VrSalario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TablaSalarios] PRIMARY KEY CLUSTERED 
(
	[SalarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoEmpresa] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEmpresa](
	[TipoEmpresaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NULL,
 CONSTRAINT [PK_TipoEmpresa] PRIMARY KEY CLUSTERED 
(
	[TipoEmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoObra] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoObra](
	[TipoObraID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](20) NULL,
	[Descripcion] [nvarchar](100) NULL,
 CONSTRAINT [PK_TipoObra] PRIMARY KEY CLUSTERED 
(
	[TipoObraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoPliego] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPliego](
	[TipoPliegoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoPliego] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_TipoPliego] PRIMARY KEY CLUSTERED 
(
	[TipoPliegoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 2/05/2026 1:47:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [nvarchar](30) NOT NULL,
	[RolID] [int] NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[UltimoAcceso] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accionista]  WITH CHECK ADD  CONSTRAINT [FK_Accionista_Empresas2] FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[Accionista] CHECK CONSTRAINT [FK_Accionista_Empresas2]
GO
ALTER TABLE [dbo].[Accionista]  WITH CHECK ADD  CONSTRAINT [FK_Accionista_Empresas3] FOREIGN KEY([EmpresaAccionistaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[Accionista] CHECK CONSTRAINT [FK_Accionista_Empresas3]
GO
ALTER TABLE [dbo].[AnalisisFinanciero]  WITH CHECK ADD  CONSTRAINT [FK_AnalisisFinanciero_Empresas] FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[AnalisisFinanciero] CHECK CONSTRAINT [FK_AnalisisFinanciero_Empresas]
GO
ALTER TABLE [dbo].[AnalisisFinanciero]  WITH CHECK ADD  CONSTRAINT [FK_AnalisisFinanciero_InfoFinanciera] FOREIGN KEY([IndicadorID])
REFERENCES [dbo].[InfoFinanciera] ([IndicadorID])
GO
ALTER TABLE [dbo].[AnalisisFinanciero] CHECK CONSTRAINT [FK_AnalisisFinanciero_InfoFinanciera]
GO
ALTER TABLE [dbo].[AnalisisFinanciero]  WITH CHECK ADD  CONSTRAINT [FK_AnalisisFinanciero_Licitacion] FOREIGN KEY([LicitacionID])
REFERENCES [dbo].[Licitacion] ([LicitacionID])
GO
ALTER TABLE [dbo].[AnalisisFinanciero] CHECK CONSTRAINT [FK_AnalisisFinanciero_Licitacion]
GO
ALTER TABLE [dbo].[AnalisisPuntuable]  WITH CHECK ADD  CONSTRAINT [FK_AnalisisPuntuable_Licitacion] FOREIGN KEY([LicitacionID])
REFERENCES [dbo].[Licitacion] ([LicitacionID])
GO
ALTER TABLE [dbo].[AnalisisPuntuable] CHECK CONSTRAINT [FK_AnalisisPuntuable_Licitacion]
GO
ALTER TABLE [dbo].[AnalisisTecnico]  WITH CHECK ADD  CONSTRAINT [FK_AnalisisTecnico_Contratos] FOREIGN KEY([ContratoID])
REFERENCES [dbo].[Contratos] ([ContratoID])
GO
ALTER TABLE [dbo].[AnalisisTecnico] CHECK CONSTRAINT [FK_AnalisisTecnico_Contratos]
GO
ALTER TABLE [dbo].[AnalisisTecnico]  WITH CHECK ADD  CONSTRAINT [FK_AnalisisTecnico_Empresas] FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[AnalisisTecnico] CHECK CONSTRAINT [FK_AnalisisTecnico_Empresas]
GO
ALTER TABLE [dbo].[AnalisisTecnico]  WITH CHECK ADD  CONSTRAINT [FK_AnalisisTecnico_Licitacion] FOREIGN KEY([LicitacionID])
REFERENCES [dbo].[Licitacion] ([LicitacionID])
GO
ALTER TABLE [dbo].[AnalisisTecnico] CHECK CONSTRAINT [FK_AnalisisTecnico_Licitacion]
GO
ALTER TABLE [dbo].[CapacidadTecnica5B]  WITH CHECK ADD  CONSTRAINT [FK_CapacidadTecnica5B_Empresas] FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[CapacidadTecnica5B] CHECK CONSTRAINT [FK_CapacidadTecnica5B_Empresas]
GO
ALTER TABLE [dbo].[ContratoAporte]  WITH CHECK ADD  CONSTRAINT [FK_ContratoAporte_Accionista] FOREIGN KEY([AccionistaID])
REFERENCES [dbo].[Accionista] ([AccionistaID])
GO
ALTER TABLE [dbo].[ContratoAporte] CHECK CONSTRAINT [FK_ContratoAporte_Accionista]
GO
ALTER TABLE [dbo].[ContratoAporte]  WITH CHECK ADD  CONSTRAINT [FK_ContratoAporte_Contratos] FOREIGN KEY([ContratoID])
REFERENCES [dbo].[Contratos] ([ContratoID])
GO
ALTER TABLE [dbo].[ContratoAporte] CHECK CONSTRAINT [FK_ContratoAporte_Contratos]
GO
ALTER TABLE [dbo].[ContratoAporte]  WITH CHECK ADD  CONSTRAINT [FK_ContratoAporte_Empresas] FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[ContratoAporte] CHECK CONSTRAINT [FK_ContratoAporte_Empresas]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Contratos_TablaSalarios] FOREIGN KEY([SalarioID])
REFERENCES [dbo].[TablaSalarios] ([SalarioID])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK_Contratos_TablaSalarios]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Contratos_TipoObra] FOREIGN KEY([TipoObraID])
REFERENCES [dbo].[TipoObra] ([TipoObraID])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK_Contratos_TipoObra]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_TipoEmpresa] FOREIGN KEY([TipoEmpresaID])
REFERENCES [dbo].[TipoEmpresa] ([TipoEmpresaID])
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_TipoEmpresa]
GO
ALTER TABLE [dbo].[InfoFinanciera]  WITH CHECK ADD  CONSTRAINT [FK_InfoFinanciera_Empresas] FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[InfoFinanciera] CHECK CONSTRAINT [FK_InfoFinanciera_Empresas]
GO
ALTER TABLE [dbo].[Licitacion]  WITH CHECK ADD  CONSTRAINT [FK_Licitacion_EstadoContrato] FOREIGN KEY([EstadoContratoID])
REFERENCES [dbo].[EstadoContrato] ([EstadoContratoID])
GO
ALTER TABLE [dbo].[Licitacion] CHECK CONSTRAINT [FK_Licitacion_EstadoContrato]
GO
ALTER TABLE [dbo].[Licitacion]  WITH CHECK ADD  CONSTRAINT [FK_Licitacion_TipoPliego] FOREIGN KEY([TipoPliegoID])
REFERENCES [dbo].[TipoPliego] ([TipoPliegoID])
GO
ALTER TABLE [dbo].[Licitacion] CHECK CONSTRAINT [FK_Licitacion_TipoPliego]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolPermiso_Permiso] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[Permiso] ([PermisoID])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK_RolPermiso_Permiso]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolPermiso_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([RolID])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK_RolPermiso_Rol]
GO
ALTER TABLE [dbo].[SaldoContratosEjec5C]  WITH CHECK ADD  CONSTRAINT [FK_SaldoContratosEjec5C_Contratos] FOREIGN KEY([ContratoID])
REFERENCES [dbo].[Contratos] ([ContratoID])
GO
ALTER TABLE [dbo].[SaldoContratosEjec5C] CHECK CONSTRAINT [FK_SaldoContratosEjec5C_Contratos]
GO
ALTER TABLE [dbo].[SaldoContratosEjec5C]  WITH CHECK ADD  CONSTRAINT [FK_SaldoContratosEjec5C_Empresas] FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[SaldoContratosEjec5C] CHECK CONSTRAINT [FK_SaldoContratosEjec5C_Empresas]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empresas] FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empresas]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([RolID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Aca se almacena la realacion de contratos si es el 75%, 120% o 150%  en salarios' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Licitacion', @level2type=N'COLUMN',@level2name=N'RelacionCV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Relacion de contratos en salarios' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Licitacion', @level2type=N'COLUMN',@level2name=N'RelacionCSMMLV'
GO
