USE [InfraCoreDB]
GO
/****** Objeto: Trigger [dbo].[trg_Contratos_CalcularValores] Fecha de script: 18/05/2026 12:16:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER TRIGGER [dbo].[trg_Contratos_CalcularValores]
ON [dbo].[Contratos]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Evitar recursión si el trigger se dispara por el UPDATE interno
    IF TRIGGER_NESTLEVEL() > 1
        RETURN;

    UPDATE c
    SET 
        -- 1. VrSmmlvPart = PorcentajePart * VrSmmlv
        c.VrSmmlvPart = i.PorcentajePart * i.VrSmmlv,

        -- 2. VrTotalContrato = VrSmmlvPart * VrSalario (de TablaSalarios)
        c.VrTotalContrato = (i.PorcentajePart * i.VrSmmlv) * ts.VrSalario

    FROM Contratos c
    INNER JOIN inserted i 
        ON c.ContratoID = i.ContratoID
    INNER JOIN TablaSalarios ts 
        ON c.SalarioID = ts.SalarioID;
END;
