USE [InfraCoreDB]
GO
/****** Objeto: Trigger [dbo].[trg_Calcular_VrSmmlvPart] Fecha de script: 2/05/2026 1:45:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		john jimeno
-- Create date: 02/05/2025
-- Description:	calcula el valor en smmlv dependiendo del porcentaje de participación en el contrato
-- =============================================
CREATE TRIGGER trg_Calcular_VrSmmlvPart2
ON dbo.Contratos
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE(PorcentajePart) OR UPDATE(VrSmmlv)
    BEGIN
        UPDATE c
        SET c.VrSmmlvPart     = i.PorcentajePart * i.VrSmmlv,
            c.VrTotalContrato = (i.PorcentajePart * i.VrSmmlv) * s.VrSalario
        FROM dbo.Contratos c
        INNER JOIN inserted i ON c.ContratoID = i.ContratoID
        INNER JOIN dbo.TablaSalarios s ON s.SalarioID = i.SalarioID;
    END
END;
GO